.custom-bg {
    background-color: rgba(0, 255, 157, 0.2); /* Colore verde con opacità del 20% */
    padding: 20px; /* Padding per distanziare il testo dai bordi */
    border-radius: 20px; /* Bordo arrotondato opzionale */
  }